.table-container {
    max-height: 400px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
  }