/* SolicitudList.css */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd; /* Agrega un borde a la tabla */
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd; /* Agrega un borde a cada celda */
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

/* Estilos para el botón "Gestionar" */
.btn-detalles {
  background-color: #8FBDBB;
  color: #fff;
  border: none;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-detalles:hover {
  background-color: #749b99;
}

/* SolicitudList.css */
.container {
  display: flex;
}

.content {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
}

/* Estilos para el menú lateral */
.menu {
  width: 250px;
  background-color: #DA7A86;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opciones {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: 20px;
}

.opciones li {
  margin-bottom: 10px;
}

.opciones li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s, border 0.3s;
  border-radius: 5px;
  border: 2px solid transparent;
}

.opciones li a:hover {
  background-color: #a17193;
  border-color: #fff;
  box-sizing: border-box;
}

.perfil {
  text-align: center;
  margin-bottom: 20px;
}

.perfil img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: transform 0.3s;


}

.perfil img:hover {
  transform: scale(1.1);
  
}

.perfil:after {
  content: '';
  display: block;
  width: 80%;
  margin: 0 auto;
  border-bottom: 2px solid #fff;
  margin-bottom: 20px;
}

/* Estilos para la columna "Estado de la solicitud" */
.estado-pendiente {
  color: red;
  font-weight: bold;
}

.estado-atendido {
  color: green;
  font-weight: bold;
}


